
.icon-left {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.icon-right {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.season-display{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.winter{
  background: aliceblue;

  i{
    color: cornflowerblue;
  }
}

.summer{
  background: orange;

  i{
color: orangered;
  }
}